<head>
        <style>
                .bg-color{
                        background-color: rgb(102, 27, 27);
                }
                .navbar a,
                .btn a {
                        color: #ffffff;
                }
                .navbar a:hover,
                .btn a:hover {
                        text-decoration: none;
                }

                .navbar button {
                        background-color: rgb(138, 54, 54);
                        font-weight: 400;
                }

                .navbar button:hover {
                        background-color: rgb(165, 20, 20);
                }
        </style>
</head>
<nav class="navbar navbar-light bg-color">
        <h2 class="h2 text-white mx-5">{{navTitle}}</h2>
        <a href="/logout"><button class="btn mx-5 text-white">LOGOUT</button></a>
</nav>