*{
    margin : 0;
    padding: 0;
}
body {
    background-image: url("/img/admin-bg.jpg");
    overflow: hidden;
}
a,button a{
    text-decoration: none;
}
.container button{
    background-color: rgb(12, 93, 27);
    font-weight: 400;
}
.container button:hover{
    background-color: rgb(18, 138, 40);
}
